@model ReceptBank.Models.ReceptViewModel
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ReceptId) <!-- Include a hidden field to store the recipe ID -->

    <div>
        <td>@Model.ReceptId</td>
        <td>@Model.Name</td>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
    </div>

    <div>

        <td>@Model.Ingredients</td>
        @Html.LabelFor(model => model.Ingredients)
        @Html.TextAreaFor(model => model.Ingredients)
    </div>

    <!-- Add more fields for other recipe details -->

    <button type="submit">Save Changes</button>
}

