@model IEnumerable<ReceptBank.Models.ReceptViewModel>

<h2>Recept List</h2>

<a asp-controller="Recept" asp-action="Create" class="btn btn-primary">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Recept</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Recept in Model)
        {
            <tr>
                <td>
                   <form method="post" asp-controller="Recept" asp-action="Ingredienser">
                        <input type="hidden" name="id" value="@Recept.ReceptId" />
                       <button type="submit" class="hover-effect" style="margin-bottom: 7px; border-radius: 7px; background-color: rgb(161, 161, 226)">@Recept.Name</button>
                    </form>
                <td>
                    <form method="post" asp-controller="Recept" asp-action="Remove">
                        <input type="hidden" name="id" value="@Recept.ReceptId" />
                        <button class="hover-effect" style="margin-bottom: 7px; border-radius: 7px; background-color: pink">Remove</button>
                    </form>
                    <form method="get" action="@Url.Action("Edit")">

                    <input type="hidden" name="id" value="@Recept.ReceptId" />
                    <button type="submit" class="hover-effect" style="margin-bottom: 7px; border-radius: 7px; background-color: pink">
                        Edit
                    </button>
                </form>
                </td>
            </tr>
            
        }
    </tbody>    
</table>
